/* 5. CONTENT
_____________________________________ */
body #content { position: relative; }
body #content > .wrapper { padding: 3em 4.5% 0; }

/* Layouts */
body.fullscreen { max-height: 100%; overflow-y: hidden; overflow-x: hidden; background: #222; }
body.fullscreen #content { height: 100vh; overflow: hidden; }
body.fullscreen #content > .wrapper { padding: 0; }
body.fullscreen article { margin: 0; }
body.fullscreen .featured-image-header { height: 100vh; }
body.fullscreen .featured-image-header h1 { visibility: hidden; }
body.fullscreen .featured-image-header img { top: 0; }
body.fullscreen #footer { position: absolute; bottom: 0; padding-bottom: 3.5em; right: 0; z-index: 3; color: white; }
/* Text on Dark Background (over images) */
body.fullscreen #logo a, body.fullscreen .gallery-caption a:hover { color: white; }
body.fullscreen #logo svg path { fill: white; }
body.fullscreen #logo #logo-svg-animated svg path { stroke: white; }
body.fullscreen #header nav ul li a, body.fullscreen #header nav #searchicon i { color: white; }
body.fullscreen #header nav ul.sub-menu { background: transparent; border-color: #F7F6F5; }
body.fullscreen #header nav #menu-burger { color: white;  }
body.fullscreen #header nav form#searchbar #searchbar-input { color: white; border-bottom-color: white; }
body.fullscreen ul.social-icons, body.fullscreen  #footer p { vertical-align: bottom; padding-bottom: 0; line-height: 1.1; }
body.fullscreen ul.social-icons li a  { color: white; }
body.fullscreen #footer p.back-to-top { display: none; }
body.fullscreen .position-absolute { color: white; z-index: 700; bottom: 10%; left: 0; width: 100%; padding: 0 4.5%; /*-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);*/ -webkit-transition: -webkit-transform 0.5s; transition: transform 0.5s; }
