/* 1. FORM ELEMENTS
_____________________________________ */
input, textarea, select, input[type="submit"], input[type="button"], button, .button { font-family: 'Josefin Sans', sans-serif; vertical-align: middle; }
label { display: block; padding: 5px 0 5px 0; font-size: .8em; font-weight: normal; }
label.inline { display: inline-block; }

input[type=text], input[type=email], input[type=tel], input[type=url], input[type=search], input[type=password], input[type=number], input.input-text, textarea { outline: 0; background: transparent; width: 100%; padding: .7em 0; -webkit-appearance: none; -webkit-focus-ring-color: none; border: 0; border-bottom: 1px solid #555; font-weight: normal; font-size: 1em; }
select { outline: 0 !important; vertical-align: middle; background: #F7F6F5; width: 100%; font-size: 1em; border: 0; border-bottom: 1px solid #ddd; }
textarea { padding-top: .5em; height: 100px; }
input[type=text]:focus,  input[type=email]:focus,  input[type=tel]:focus,  input[type=password]:focus,  textarea:focus {  }
input[type=checkbox] { width: 15px; float: left; margin: 0 1em 0 0; position: relative; top: 10px; border: 1px solid #ddd; }
input[type=radio] { position: relative; bottom: 3px; }
input[type=number] { width: 40px; margin: 0 5px; }

input[type=submit], input[type=button], button, .button { display: inline-block; height: auto; padding: .65em .8em .35em .8em; font-weight: normal; font-size: .85em; line-height: 1; text-align: center; cursor: pointer; border: 2px solid; border-radius: 20px; background: transparent; margin: -2px .5em .5em 0; text-decoration: none !important; letter-spacing: 0.1em; color: #EA8E00; z-index: 2; overflow: hidden; position: relative; vertical-align: middle; outline: 0;
-webkit-transition: all .4s ease; -moz-transition: all .4s ease; -ms-transition: all .4s ease; -o-transition: all .4s ease; transition: all .4s ease; }
input[type=submit]:hover, input[type=button]:hover, .button:hover, button:hover,
input[type=submit]:focus, input[type=button]:focus { color: #F7F6F5; background-color: #EA8E00; border: 2px solid transparent; }
input[type=submit]:active, input[type=button]:active { outline: 0; }
.button::after, button::after { content: ''; position: absolute; z-index: -1;  -webkit-transition: all .2s; -moz-transition: all .2s; transition: all .2s;
	width: 100%; height: 0; top: 50%; left: 50%; background: rgba(255,255,255,.3); opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.button:hover::after, button:hover::after, .button:focus::after, button:focus::after { height: 260%; opacity: 0; }
.button:active::after, button:active::after { height: 300%; opacity: 1; }

form#searchbar { width: 100%; position: relative; }
form#searchbar #searchbar-submit { position: absolute; right: -12px; top: -2px; background: none; border: 0; font-size: 1.1em; color: black; box-shadow: none;padding: 0; }

.form-column { width: 46%; display: inline-block; margin: 0 3% 0 0; }
#contactform { width: 103%; }
#contactform #comments { width: 96%; margin: 0; padding: .5em; }
#contactform #submit { float: right; margin: 0 3% 0 0; }
